apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-jlgmkygm
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-jlgmkygm:ef8a969137d686b71762a425fa2b3b79875300c0@sha256:c60a2a8aec289d9151de714cd9840dba84cd036ed5443f7e3852a3acba8c8bef
          name: container-image
